/* src/components/Instructions/Instructions.module.css */
.instructions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 20px;
  margin: 40px 80px 20px 80px;
}

.btnActions {
  display: flex;
  gap: 8px;
};