/* src/components/Header/Header.module.css */
.header {
  background: #fff;
  border-bottom: 1px solid #C4C4C4;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs {
  display: flex;
  gap: 12px;
}

.perfil, .tabs{
  margin: 0 80px;
}

.subtitle {
  font-style: italic;
  opacity: 0.8;
}